.lightMode {
  background-color: #f7f7f7;
  color: #000000;
  text-align: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.darkMode {
  background-color: #006790;
  color: #f7f7f7;
  text-align: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

/* .main {
  height: 100%;
  display: grid;
  place-items: center;
  text-align: center;
} */

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 24px;
  font-size: 24px;
}

.product__Row {
  display: flex;
}

.product__ColIm,
.product__Col {
  flex: 1;
}

.product__ColImg {
  max-width: 50px;
  margin-right: 25px;
}
