.product {
  height: 350px;
  width: 400px;
  text-align: center;
  color: white;
  background-color: rgb(80, 173, 248);
  padding: 1%;
  margin: 1%;
}

.img {
  height: 200px;
  width: 100%;
  transition: 0.5s;
}

.img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.product h1 {
  font-size: 2rem;
}

.product p {
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.product h5 {
  font-size: 1rem;
}
